In [ ]:
#Assignment 1 Type Casting


#for boolean complex data typenot supported
print(bool(22 + 2i
          
#cannot convert complex to int 
print(int(1+5i))
           
#cannot convert string to int
print(int("Ruturaj"))

#cannot convert String to float
print(float("abc"))

#cannot convert complex to float 
print(float(1+2j))

#cannot convert String  to float
print(float("Ruturaj"))
# This will give error unable to convert

In [13]:
#Employee Information Print

name=input("Enter EMP Name : ")
empid=input("Enter ID:" )
desig=input("Enter Designation: ")
salary=float(input("Enter Your salary: "))

print("Hello, {0}!!! Your Employee Id is {1}. Your Designation is {2} and Your salary is {3}"
      .format(name,empid,desig,salary))

namee,empidd,desige,salaryy= input("Enter name, ID, Designation and Salary:  ").split()

print(f"Hello, {namee}!! Your id is {empidd}, Designation is {desige}, and salary is {salaryy}")

Enter EMP Name :  Ruturaj
Enter ID: 101
Enter Designation:  GET
Enter Your salary:  25000

Hello, Ruturaj!!! Your Employee Id is 101. Your Designation is GET and Your salary is 25000.0

Enter name, ID, Designation and Salary:   Ruturaj 102 GET 9087

Hello, Ruturaj!! Your id is 102, Designation is GET, and salary is 9087

In [15]:
#Read Multiple values Also 
values = input("Enter the multiple values as you want : ").split()
print("Values that you entered : ", values)

Enter the multiple values as you want :  10 20 30 40 50

Values that you entered :  ['10', '20', '30', '40', '50']

In [19]:
#Calculate Income Tax

age = int(input("Enter your age :"))
if age < 18 or age > 100:
    print("Invalid Age")
else:
    income = float(input("Enter your annual income : "))
    if income < 0:
        print("Invalid Income")
    else:
        tax=0
        if age <= 60:
            if income <= 250000:
                tax=0
            elif income <= 500000:
                tax =0.1*income
            elif income <= 1000000:
                tax =0.2*income
            else:
                tax = 0.3 * income
        elif age <= 80:
            if income <= 300000:
                tax=0
            elif income <= 500000:
                tax =0.1*income
            elif income <= 1000000:
                tax =0.2*income
            else:
                tax = 0.3 * income
        else:
            if income <= 500000:
                tax =0
            elif income <= 1000000:
                tax = 0.2 * income
            else:
                tax = 0.3*income
print(f"your income tax is : {tax} Rs")

Enter your age : 40
Enter your annual income :  500000

your income tax is : 50000.0 Rs

In [21]:
#Student Information

students = []
n = int(input("Enter the number of student details to be created: "))
if n <= 0:
    print("Invalid Input")
    exit()


for _ in range(n):
    name = input("Name: ").strip()
    age = int(input("Age: "))
    if age <= 10 or age > 20:
        print("Invalid Input")
        exit()
    location = input("Location: ").strip()
    students.append({"Name": name, "Age": age, "Location": location})


print("\nHere's the list of student details:")
for student in students:
    print(student)


search_location = input("\nEnter the training location: ").strip()
matching_students = [student["Name"] for student in students if student["Location"] == search_location]

if matching_students:
    print("\nStudent(s) enrolled in this training location:")
    print("\n".join(matching_students))
else:
    print("Invalid location")

Enter the number of student details to be created:  3
Name:  Ruturaj
Age:  14
Location:  Pune
Name:  Supreet
Age:  15
Location:  Pune
Name:  Sushil
Age:  17
Location:  Pune

Here's the list of student details:
{'Name': 'Ruturaj', 'Age': 14, 'Location': 'Pune'}
{'Name': 'Supreet', 'Age': 15, 'Location': 'Pune'}
{'Name': 'Sushil', 'Age': 17, 'Location': 'Pune'}

Enter the training location:  Pune

Student(s) enrolled in this training location:
Ruturaj
Supreet
Sushil